//
//  -= Variable Declaration =-
//
//    @ Color Palette :
$primary:  #263238;
$primary-light:  #4f5b62;
$primary-dark:  #000a12;

$secondary:  #4dd0e1;
$secondary-light:  #88ffff;
$secondary-dark:  #009faf;

$counterprimary:  #fafafa;
$counterprimary-light: #ffffff;
$counterprimary-dark: #c7c7c7;
// 