<link rel="stylesheet" href="/assets/css/bootstrap-strdsk.css">
<link rel="stylesheet" href="/assets/css/fonts-strdsk.css">
<link rel="stylesheet" href="/assets/css/strdsk.css">
<link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/strdsk-function.js"></script>
